include ../../components/title/title.pug

mixin dropdown__menu-item()
	.dropdown__item-controls.js-dropdown__item-controls
		button(type="button" class="dropdown__counter-button js-dropdown__counter-button dropdown__counter-button_theme_decrement js-dropdown__counter-button_theme_decrement")
		span.dropdown__counter.js-dropdown__counter 0
		button(type="button" class="dropdown__counter-button js-dropdown__counter-button dropdown__counter-button_theme_increment js-dropdown__counter-button_theme_increment")
mixin dropdown(data)
	-
		const {name, header, text, item1, item2, item3, clear} = data
	if item1
		section.dropdown.js-dropdown
			span.dropdown__name
				+title(header)
			if text
				p.dropdown__text= text
			.dropdown__inner.js-dropdown__inner
				input(type="text" name= name class="dropdown__input js-dropdown__input" autocomplete="off" readonly)
				button(type="button" class="dropdown__arrow js-dropdown__arrow")= "expand_more"
				.dropdown__menu
					div(class="dropdown__item")
						span.dropdown__item-text.js-dropdown__item-text #{item1}
						+dropdown__menu-item
					div(class="dropdown__item")
						span.dropdown__item-text.js-dropdown__item-text #{item2}
						+dropdown__menu-item
					div(class="dropdown__item")
						span.dropdown__item-text.js-dropdown__item-text #{item3}
						+dropdown__menu-item
					if clear
						.dropdown__buttons-block
							.dropdown__set-btn.js-dropdown__set-btn
								button(type="button" class="button button_theme_text") применить
							.dropdown__clear-btn.js-dropdown__clear-btn
								button(type="button" class="button button_theme_text button_color_gray") очистить
	else
		div(class="dropdown js-dropdown dropdown_theme_date")
			span.dropdown__name
				+title(header)
			.dropdown__inner.js-dropdown__inner
				input(type="text" name= name class="dropdown__input js-dropdown__input" autocomplete="off")
				button(type="button" class="dropdown__arrow js-dropdown__arrow")= "expand_more"
