mixin dropdown__menu-item()
	.dropdown__item-controls
		button(type="button" class="dropdown__button dropdown__button_decrement")
			//- i.dropdown__icon-decrement
		span.dropdown__counter 0
		button(type="button" class="dropdown__button dropdown__button_increment")
			//- i.dropdown__icon-increment
mixin dropdown(type, name, h3, p, item1, item2, item3, clear)
	section.dropdown
		span.dropdown__name= h3
		.dropdown__wrapper
			input(type="text" name= name class="dropdown__input" autocomplete="off" readonly)
			button(type="button" class="dropdown__input-button")= "expand_more"
			.dropdown__menu
				div(class="dropdown__item-wrapper")
					span.dropdown__item-text #{item1}
					+dropdown__menu-item
				div(class="dropdown__item-wrapper")
					span.dropdown__item-text #{item2}
					+dropdown__menu-item
				div(class="dropdown__item-wrapper")
					span.dropdown__item-text #{item3}
					+dropdown__menu-item
				if clear
					.dropdown__bottom
						button(type="button" class="dropdown__set-btn") применить
						button(type="button" class="dropdown__clear-btn") очистить
