mixin dropdown__menu-item()
	.dropdown__item-controls
		button.dropdown__button-decrement
			i.dropdown__icon-decrement
		span.dropdown__counter 0
		button.dropdown__button-increment
			i.dropdown__icon-increment
mixin dropdown(type, cl, h3, p, item1, item2, item3, clear)
	section(class="dropdown dropdown_theme_" + type)
		span.dropdown__name= h3
		.dropdown__wrapper
			input(type= text name= cl class="dropdown__selection "+cl autocomplete="off" readonly)
			i.dropdown__input-icon= "expand_more"
			.dropdown__menu
				div(class="dropdown__menu-item-wrapper" data-id="item1")
					span.dropdown__item-text #{item1}
					+dropdown__menu-item
				div(class="dropdown__menu-item-wrapper" data-id="item2")
					span.dropdown__item-text #{item2}
					+dropdown__menu-item
				div(class="dropdown__menu-item-wrapper" data-id="item3")
					span.dropdown__item-text #{item3}
					+dropdown__menu-item
				if clear
					.dropdown__bottom
						button(type="button" class="dropdown__set-btn") применить
						button(type="button" class="dropdown__clear-btn") очистить
