mixin dropdown__menu-item()
	.dropdown__item-controls
		button(type="button" class="dropdown__counter-button dropdown__counter-button_theme_decrement")
		span.dropdown__counter 0
		button(type="button" class="dropdown__counter-button dropdown__counter-button_theme_increment")
mixin dropdown(data)
	-
		const {cl, name, header, p, item1, item2, item3, clear} = data
	if item1
		section.dropdown
			span.dropdown__name= header
			.js-dropdown__wrapper
				input(type="text" name= name class="dropdown__input" autocomplete="off" readonly)
				button(type="button" class="js-dropdown__arrow")= "expand_more"
				.dropdown__menu
					div(class="dropdown__item-wrapper")
						span.dropdown__item-text #{item1}
						+dropdown__menu-item
					div(class="dropdown__item-wrapper")
						span.dropdown__item-text #{item2}
						+dropdown__menu-item
					div(class="dropdown__item-wrapper")
						span.dropdown__item-text #{item3}
						+dropdown__menu-item
					if clear
						.dropdown__buttons-block
							.dropdown__set-btn
								button(type="button" class="btn btn_theme_text") применить
							.dropdown__clear-btn
								button(type="button" class="btn btn_theme_text btn_color_gray") очистить
	else
		div(class="dropdown" + cl)
			span.dropdown__name= header
			.js-dropdown__wrapper
				input(type="text" name= name class="dropdown__input" autocomplete="off")
				button(type="button" class="js-dropdown__arrow")= "expand_more"
