mixin dropdown__menu-item()
	.iqdropdown-item-controls
		button.button-decrement
			i.icon-decrement
		span.counter 0
		button.button-increment
			i.icon-increment
mixin dropdown(type, cl, h3, p, item1, item2, item3, clear)
	section.dropdown
		.dropdown__type #{type}
		div(class="dropdown__container " + cl)
			h3.dropdown__header= h3
			p.dropdown__state= p
			.iqdropdown
				.dropdown__input
					input(type= text name= cl class="iqdropdown-selection "+cl autocomplete="off" readonly)
					.dropdown__input-icon
						i.dropdown__input-icon-text= "expand_more"
					.iqdropdown-menu
						div(class="iqdropdown-menu-option" data-id="item1")
							h3.iqdropdown-item #{item1}
							+dropdown__menu-item
						div(class="iqdropdown-menu-option" data-id="item2")
							h3.iqdropdown-item #{item2}
							+dropdown__menu-item
						div(class="iqdropdown-menu-option" data-id="item3")
							h3.iqdropdown-item #{item3}
							+dropdown__menu-item
						if clear
							.dropdown__bottom
								button.dropdown__set-btn применить
								button.dropdown__clear-btn очистить
