extends ../../base.pug
block description
	meta(name='description', content="Отель «Toxin» - номер 888 люкс. 9 990₽ в сутки. Шумопоглощающие стены, окно в каждой из спален, оснащён камином.")
	meta(name='keywords', content="отель, toxin, гостиница, забронировать номер, цена номера, отзывы об отеле, номер люкс, номер с камином, номер 888, правила для гостей, отмена бронирования")
block title
	|  Отель «Toxin» - номер 888
block main
	include ../../components/header/header.pug
	include ../../components/footer/footer.pug
	include ../../components/reservation-form/reservation-form.pug
	-
		const datepickerText = ['применить', 'очистить'];
		const reservationFormData = {
			title: '888',
			title2: 'люкс',
			titlePrice: '9 990₽',
			titlePrice2: 'в сутки',
			dropdown1: {
				className: ' js-dropdown_theme_date',
				name: 'arrival',
				header: 'прибытие'
			}, 
			dropdown2: {
				className: ' js-dropdown_theme_date',
				name: 'departure',
				header: 'выезд'
			},
			dropdown3: {
				className: 'peoples',
				name: 'guests',
				header: 'гости',
				text: '',
				item1: 'взрослые',
				item2: 'дети',
				item3: 'младенцы',
				clear: '1'
			}, 
			text: ['9 990₽ х 4 суток', '39 960₽', 'Сбор за услуги: скидка 2', '179₽', '0₽', 'Сбор за дополнительные услуги', '300₽'],
			total: ['Итого', '38 081₽'],
			btnText: 'забронировать',
			datepickerText1: datepickerText[0],
			datepickerText2: datepickerText[1]
		}
		const headers = ['Сведения о номере', 'Впечатления от номера', 'Отзывы посетителей номера', '2 отзыва', 'Правила', 'Отмена'];
		const info1 = {
			className: '',
			img: 'insert_emoticon',
			header: 'Комфорт',
			text: 'Шумопоглощающие стены',
			datepickerText: datepicker
		}
		const info2 = {
			className: '',
			img: 'location_city',
			header: 'Удобство',
			text: 'Окно в каждой из спален'
		}
		const info3 = {
			className: '',
			img: 'whatshot',
			header: 'Уют',
			text: 'Номер оснащён камином'
		}
		const chart = ['1050', 'голосов', 'Великолепно', 'Хорошо', 'Удовлетворительно', 'Разочарован'];
		const review1 = {
			className: '',
			img: 'img/murad.jpg',
			like: '12',
			head: 'Мурад Сарафанов',
			days: '5 дней назад',
			text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще 	потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
		};
		const review2 = {
			className: '',
			img: 'img/Patricia.jpg',
			like: '2',
			head: 'Патрисия Стёклышкова',
			days: 'Неделю назад',
			text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
		};
		const bullets = ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'];
		const text = 'Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.';
	+header
	main.room-details
		figure.room-details__img-section
			.room-details__img-wrapper
				img(src="img/room1.jpg"  class="room-details__img")
			.room-details__img-wrapper
				.room-details__img-container
					img(src="img/room2.jpg" class="room-details__img")
				.room-details__img-container
					img(src="img/room3.jpg" class="room-details__img")
		.room-details__wrapper
			section.room-details__container
				include ../../components/info/info.pug
				include ../../components/like/like.pug
				include ../../components/review/review.pug
				.room-details__content-column
					.room-details__content-row
						article.room-details__article
							h2.room-details__title #{headers[0]}
							.room-details__info
								+info(info1)
							.room-details__info
								+info(info2)
							.room-details__info
								+info(info3)
						article.room-details__article
							h2.room-details__title #{headers[1]}
							.room-details__chart
								.room-details__chart.js-room-details__chart
								.room-details__chart-white-mask.js-room-details__chart-white-mask
								.room-details__chart-inner.js-room-details__chart-inner
									.room-details__chart-number.js-room-details__chart-number #{chart[0]}
									.room-details__chart-text #{chart[1]}
							.room-details__chart-comment
								.room-details__chart-item
									.room-details__mark.room-details__mark_color_orange
									p.room-details__chart-text-item #{chart[2]}
								.room-details__chart-item
									.room-details__mark.room-details__mark_color_green
									p.room-details__chart-text-item #{chart[3]}
								.room-details__chart-item
									.room-details__mark.room-details__mark_color_purple
									p.room-details__chart-text-item #{chart[4]}
								.room-details__chart-item
									.room-details__mark.room-details__mark_color_black
									p.room-details__chart-text-item #{chart[5]}
					.room-details__content-row
						article.room-details__article
							h2.room-details__title.room-details__title #{headers[2]}
								span.room-details__title-right-part #{headers[3]}
							.room-details__review.room-details__review_1.js-room-details__review_1
								+review(review1)
							.room-details__review.room-details__review_2
								+review(review2)
					.room-details__content-row
						article.room-details__article
							h2.room-details__title.room-details__title #{headers[4]}
							ul.room-details__ul
								li.room-details__bullet-item #{bullets[0]}
								li.room-details__bullet-item #{bullets[1]}
								li.room-details__bullet-item #{bullets[2]}
						article.room-details__article
							h2.room-details__title.room-details__title #{headers[5]}
							p.room-details__text #{text}
				.room-details__form-column
					.room-details__form
						+reservation-form(reservationFormData)
	+footer