mixin button(data = {})
	-
		const {text = '', tag = 'button', modifiers, type, link} = data;
		let className = 'button';
		if (modifiers) {
			modifiers.forEach((item) => {
				className = item === 'themeLight' ? className + ' button_theme_light' : className;
				className = item === 'translucent' ? className + ' button_translucent' : className;
				className = item === 'text' ? className + ' button_theme_text' : className;
				className = item === 'colorGray' ? className + ' button_color_gray' : className;
				className = item === 'themeArrow' ? className + ' button_theme_with-arrow' : className;
				className = item === 'sizeBig' ? className + ' button_size_big' : className;
				className = item === 'sizeSmall' ? className + ' button_size_small' : className;
			});
		}
	#{tag}(class=className type=type href=link) #{text}
