include ../rate/rate.pug
mixin card(cl, data)
	section(class="card__container " + cl)
		.card__slider
			.card__slide-wrap
				.card__slide-container
					- for (let i = 0; i < 4; i++)
						.card__slide
							img(src=data.img[i])
				.card__shadow-left
				.card__shadow-right
				.card__arrow-left expand_more
				.card__arrow-right expand_more
				.card__controls
					- for (let i = 0; i < 4; i++)
						.card__control
		.card__text
			.card__text-1
				a(class="card__a" href= data.link)
					span.card__num-wrap
						span.card__num №
						h2.card__h2 #{data.num}
						span.card__lux #{data.lux}
				.card__price #{data.price}₽
					span.card__price-text в сутки
			.card__text-2
				+rate('card__rate', data.rate)
				.card__reviews #{data.rev}
					span.card__reviews-text Отзывов
