extends ../../base.pug
block description
	meta(name='description', content="Form Elements")
block title
	| Form Elements
block main
	include ../../components/ui-kit/ui-kit.pug
	include ../../components/input/input.pug
	include ../../components/checkbox/checkbox.pug
	include ../../components/radio/radio.pug
	include ../../components/toggle/toggle.pug
	include ../../components/like/like.pug
	include ../../components/rate/rate.pug
	include ../../components/slider/slider.pug
	include ../../components/dropdown/dropdown.pug
	include ../../components/info/info.pug
	include ../../components/review/review.pug
	include ../../components/btn/btn.pug
	include ../../components/pagination/pagination.pug
	-
		const input1 = {
			h3: 'Text Field',
			type: 'email',
			name: 'form-elements__input-1',
			cl: ' input__field_theme_light',
			val: '',
			plac: 'Email',
			p: 'Default'
		}
		const input2 = {
			h3: 'Text Field',
			type: 'email',
			name: 'form-elements__input-2',
			cl: ' input__field_selected',
			val: 'This is pretty awesome',
			plac: '',
			p: 'Hover / Focus'
		}
		const input3 = {
			h3: 'Dropdown',
			type: 'email',
			name: 'form-elements__input-3',
			cl: '',
			val: 'Сколько гостей',
			plac: '',
			p: 'Default',
			icon: 'expand_more'
		}
		const input4 = {
			h3: 'masked text field',
			type: 'date',
			name: 'form-elements__input-4',
			cl: ' input__field_uppercase',
			val: '',
			plac: 'Email',
			p: 'Default',
			icon: 'expand_more'
		}
		const input5 = {
			h3: 'date Dropdown',
			type: 'date',
			name: 'form-elements__input-5',
			cl: ' input__field_uppercase',
			val: '',
			plac: '',
			p: '',
			icon: 'expand_more'
		}
		const input6 = {
			h3: 'date Dropdown',
			type: 'date',
			name: 'form-elements__input-6',
			cl: ' input__field_uppercase',
			val: '2019-08-19',
			plac: '',
			p: '',
			icon: 'expand_more'
		}
		const input7 = {
			h3: 'filter date dropdown',
			type: 'text',
			name: 'form-elements__input-7',
			cl: '',
			val: '19 авг - 23 авг',
			plac: '',
			p: '',
			icon: 'expand_more'
		}
		const input8 = {
			h3: 'subscription text field',
			type: 'email',
			name: 'form-elements__input-8',
			cl: ' input__field_with-arrow',
			val: '',
			plac: 'Email',
			p: '',
			icon: 'arrow_forward',
			color: 'purple'
		}
		const headers = ['Checkbox Buttons', 'Radio Buttons', 'Toggle', 'like button', 'rate button', 'buttons', 'pagination', 'expandable checkbox list', 'rich Checkbox Buttons', 'bullet list']
		const checkbox1 = {
			cl: '',
			text: ['Можно курить', 'Можно с питомцами', 'Можно пригласить гостей (до 10 человек)']
		}
		const checkbox2 = {
			cl: '',
			text: ['Завтрак', 
					'Письменный стол', 
					'Стул для кормления',
					'Кроватка',
					'Телевизор',
					'Шампунь']
		}
		const checkbox3 = {
			cl: '',
			text: ['Ширина коридоров в номере не менее 91 см.', 
				'На 1 этаже вас встретит специалист  и проводит до номера.'],
			head: ['Широкий коридор',
			'Помощник для инвалидов']
		}
		const radio = {
				cl: 'registration-form__radio',
				text: ['Мужчина', 'Женщина']
			}
		const toggle = {
				cl: 'registration-form__toggle',
				text: ['Получать спецпредложения']
			}
		const sliderTitle = 'Range Slider';
		const btnText = 'click me';
		const btnText2 = 'перейти к оплате';
		const dropdown1 = {
				cl: 'rooms',
				name: 'rooms',
				header: 'dropdown',
				p: 'Default',
				item1: 'спальни',
				item2: 'кровати',
				item3: 'ванные комнаты'
			}
		const dropdown2 = {
				cl: 'rooms',
				name: 'rooms',
				header: 'dropdown',
				p: 'expanded',
				item1: 'спальни',
				item2: 'кровати',
				item3: 'ванные комнаты'
			}
		const dropdown3 = {
				cl: 'peoples',
				name: 'guests',
				header: 'dropdown',
				p: '',
				item1: 'взрослые',
				item2: 'дети',
				item3: 'младенцы',
				clear: '1'
			}
		const bullets = ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'];
		const info1 = {
			cl: '',
			img: 'insert_emoticon',
			head: 'Комфорт',
			text: 'Шумопоглощающие стены'
		}
		const info2 = {
			cl: '',
			img: 'location_city',
			head: 'Удобство',
			text: 'Окно в каждой из спален'
		}
		const review = {
			cl: '',
			img: 'img/murad.jpg',
			like: '12',
			head: 'Мурад Сарафанов',
			days: '5 дней назад',
			text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще 	потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
		}
		const paginationText = 'из 100+ вариантов аренды'
	+ui-kit
	.form-elements
		.form-elements__container
			section.js-form-elements__section
				.js-form-elements__item
					+input(input1)
				.js-form-elements__item
					+input(input2)
				.js-form-elements__item
					+input(input3)
				.js-form-elements__item
					+input(input4)
				.js-form-elements__item
					.js-form-elements__item-inner.js-form-elements__item-inner_left
						+input(input5)
					.form-elements__space
					.js-form-elements__item-inner.js-form-elements__item-inner_right
						+input(input6)
				.js-form-elements__item
					+input(input7)
				.js-form-elements__item
					+input(input8)
			section.js-form-elements__section
				.js-form-elements__item
					h3.js-form-elements__item-title #{headers[0]}
					+checkbox(checkbox1)
				.js-form-elements__item
					h3.js-form-elements__item-title #{headers[1]}
					+radio(radio)
				.js-form-elements__item
					h3.js-form-elements__item-title #{headers[2]}
					+toggle(toggle)
					+toggle(toggle)
				.js-form-elements__item
					h3.js-form-elements__item-title #{headers[3]}
					+like('', '2')
					+like('', '12')
				.js-form-elements__item
					h3.js-form-elements__item-title #{headers[4]}
					+rate('', 4, 1)
					+rate('', 5, 1)
			section.js-form-elements__section
				.js-form-elements__item
					+slider(1, sliderTitle)
				.js-form-elements__item
					h3.js-form-elements__item-title #{headers[5]}
					.form-elements__btn
						+btn(btnText, 'div')
					.form-elements__btn
						+btn(btnText, 'div', 'transparent')
					.form-elements__btn
						+btn(btnText, 'div-light')
					.form-elements__btn
						+btn(btnText, 'div-light', 'transparent')
					.form-elements__btn
						+btn(btnText, 'div-text')
					.form-elements__btn
						+btn(btnText, 'div-text', 'color_gray')
					.form-elements__btn
						+btn(btnText2, 'button', 'theme_arrow')
				.js-form-elements__item
					h3.js-form-elements__item-title #{headers[6]}
					+pagination(1, 12, paginationText)
			section.js-form-elements__section
				.js-form-elements__item
					+dropdown(dropdown1)
				.js-form-elements__item
					+dropdown(dropdown2)
			section.js-form-elements__section
				.js-form-elements__item
					h3.js-form-elements__item-title #{headers[7]}
				.js-form-elements__item
					h3.js-form-elements__item-title #{headers[7]}
					+checkbox(checkbox2)
			section.js-form-elements__section
				.js-form-elements__item
					+dropdown(dropdown3)
			section.js-form-elements__section
				.js-form-elements__item
					h3.js-form-elements__item-title #{headers[8]}
					+checkbox(checkbox3)
			section.js-form-elements__section
				.js-form-elements__item
					+dropdown(dropdown3)
			section.js-form-elements__section
				.js-form-elements__item
					h3.js-form-elements__item-title #{headers[9]}
					ul.form-elements__bullet-list
						li.form-elements__bullet-item #{bullets[0]}
						li.form-elements__bullet-item #{bullets[1]}
						li.form-elements__bullet-item #{bullets[2]}
			section.js-form-elements__section
				.js-form-elements__item
					+info(info1)
				.js-form-elements__item
					+info(info2)
			section.js-form-elements__section
				.js-form-elements__item
					+review(review)