mixin reservation-form(data)
	include ../../components/dates-selector/dates-selector.pug
	include ../../components/button/button.pug
	-
		const {title, title2, titlePrice, titlePrice2, dropdown1, dropdown2, dropdown3, text, total, btnText, datepickerText1, datepickerText2} = data;
	article.reservation-form.js-reservation-form
		.reservation-form__title
			.reservation-form__title-left
				h1.reservation-form__title-text <span class="reservation-form__title_number">№</span>#{title}
					span.reservation-form__title_category  #{title2}
			.reservation-form__title-right
				p.reservation-form__title_price #{titlePrice} <span class="reservation-form__title_price-text">#{titlePrice2}</span>
		form.reservation-form__form
			.reservation-form__dates-selector
				+dates-selector(dropdown1, dropdown2, datepickerText1, datepickerText2)
			+dropdown(dropdown3)
			p.reservation-form__text 
				span.reservation-form__text_left #{text[0]} 
				span.reservation-form__text_right #{text[1]}
			p.reservation-form__text
				span.reservation-form__text_left #{text[2]}&nbsp;#{text[3]}
				span.reservation-form__i i
				span.reservation-form__text_right #{text[4]}
			p.reservation-form__text
				span.reservation-form__text_left #{text[5]}
				span.reservation-form__i i
				span.reservation-form__text_right #{text[6]}
			.reservation-form__price
				span.reservation-form__price-text #{total[0]}
				span.reservation-form__price-space
				h2.reservation-form__price-value #{total[1]}
			.reservation-form__btn
				+button({text: btnText, tag: 'button', modifiers: ['themeArrow'], type: 'submit'})
