include ../rate/rate.pug
mixin card(data, text)
	section(class="card js-card")
		.card__slider
			.card__slide-wrapper
				- for (let i = 0; i < 4; i++)
					.card__slide.js-card__slide
						img(src=data.img[i])
				.card__shadow.card__shadow_left
				.card__shadow.card__shadow_right
				.card__arrow.card__arrow_left.js-card__arrow_left expand_more
				.card__arrow.card__arrow_right.js-card__arrow_right expand_more
				.card__controls
					- for (let i = 0; i < 4; i++)
						.card__control.js-card__control
		.card__text
			a(class="card__a" href= data.link)
				span.card__num-wrapper
					span.card__num №
					h2.card__header #{data.num}
					span.card__lux #{data.lux}
			.card__price #{data.price}#{text[0]}
				span.card__price-text #{text[1]}
			.card__rate
				.card__rate-wrapper
					+rate(data.rate)
				.card__reviews #{data.rev}
					span.card__reviews-text #{text[2]}
