include ../rate/rate.pug
mixin card(data, text)
	-
		const {img, num, lux, price, rate, rev} = data;
		const {currency, time, reviews} = text;
	section(class="card js-card")
		.card__slider
			.card__slide-wrapper
				- for (let i = 0; i < 4; i++)
					.card__slide.js-card__slide
						img(src=img[i])
				.card__shadow.card__shadow_left
				.card__shadow.card__shadow_right
				.card__arrow.card__arrow_left.js-card__arrow_left expand_more
				.card__arrow.card__arrow_right.js-card__arrow_right expand_more
				.card__controls
					- for (let i = 0; i < 4; i++)
						.card__control.js-card__control
		.card__text
			a(class="card__a" href= link)
				span.card__num-wrapper
					span.card__num №
					h2.card__header #{num}
					span.card__lux #{lux}
			.card__price #{price}#{currency}
				span.card__price-text #{time}
			.card__rate
				.card__rate-inner
					+rate(rate)
				.card__reviews #{rev}
					span.card__reviews-text #{reviews}
