mixin header(cl, menu, active, btn1, href1, btn2, href2, login)
	section.page__container.header__container
		.header__active= active
		a(href="index.html")
			span.page__logo.header__logo
		.header__burger
			.header__burger-line.header__burger-line--burger
			.header__burger-line.header__burger-line--burger
			.header__burger-line.header__burger-line--burger
			.header__burger-line.header__burger-line--cross-1
			.header__burger-line.header__burger-line--cross-2
		nav.header__ul-wrap
			ul.header__ul
				each val, i in menu
					if menu[i].incl
						li.header__li.header__li--big
							a(href=menu[i].href class="header__a") !{menu[i].item}
							span.header__arrow expand_more
							ul.header__ul.header__ul--menu.header__ul-incl
								each val, j in menu[i].incl
									li.header__li.header__li--incl
										a(href=menu[i].hrefs[j] class="header__a") !{menu[i].incl[j]}
					else
						li.header__li
							a(href=menu[i].href class="header__a") !{menu[i].item}
							ul.header__ul.header__ul--menu
		if login
			.header__login-container-logged
				.header__user Cosmin Negoita
		else
			.header__login-container
				// .header__login-content
				// .header__login-wrap
				a(href=href1 class="btn btn--white btn--header-white header__login-wrap") 
					span !{btn1}
				// .header__login-wrap
				a(href=href2 class="btn btn--small header__login-wrap") !{btn2}

