mixin header(cl, menu, active, btn1, href1, btn2, href2, login)
	section.header__container
		.header__active= active
		a(href="index.html")
			span.page__logo.header__logo
		nav.header__ul-wrap
			ul.header__ul
				each val, i in menu
					if menu[i].incl
						li.header__li.header__li--big
							a(href=menu[i].href class="header__a") !{menu[i].item}
							ul.header__ul.header__ul--menu.header__ul-incl
								each val, j in menu[i].incl
									li.header__li.header__li--incl
										a(href=menu[i].hrefs[j] class="header__a") !{menu[i].incl[j]}
							span.header__arrow expand_more
					else
						li.header__li
							a(href=menu[i].href class="header__a") !{menu[i].item}
							ul.header__ul.header__ul--menu
		if login
			.header__login-container-logged
				.header__user Cosmin Negoita
		else
			.header__login-container
				.header__login-content
					.header__login-wrap
						a(href=href1 class="btn btn--white btn--small-white") !{btn1}
					.header__login-space
					.header__register-wrap
						a(href=href2 class="btn btn--small") !{btn2}