include ../../components/logo/logo.pug

mixin headerMarkup(cl, menu, btn1, href1, btn2, href2, login)
	header(class = "header " + cl)
		nav.header__navigation
			.header__logo
				+logo
			button(type="button" class="header__burger")
				.header__burger-line
			ul.header__navigation-list.header__navigation-list_main
				each val, i in menu
					if menu[i].incl
						li.header__navigation-item.header__navigation-item_with-submenu
							a(href=menu[i].href class="header__link header__link_with-submenu") !{menu[i].item}
							ul.header__navigation-list.header__navigation-list_submenu
								each val, j in menu[i].incl
									li.header__navigation-item.header__navigation-item_submenu
										a(href=menu[i].hrefs[j] class="header__link") !{menu[i].incl[j]}
					else
						li.header__navigation-item
							a(href=menu[i].href class="header__link") !{menu[i].item}
			if login
				.header__user-block-logged
					.header__user Cosmin Negoita
			else
				.header__user-block
					.header__btn
						a(href=href1 class="btn btn_frame btn_size_small-frame") 
							span.btn__inner-block.btn__inner-block_size_small  !{btn1}
					.header__btn
						a(href=href2 class="btn btn_size_small") !{btn2}
-
	let MenuItem = function(item, href, incl, hrefs) {
		this.item = item;
		this.href = href;
		this.incl = incl;
		this.hrefs = hrefs;
	}
	let menuRus = [
		new MenuItem('О нас', '/mock-address/change-me'),
		new MenuItem('Услуги', '/mock-address/change-me', ['Услуга 1', 'Услуга 2', 'Услуга 3'], ['/mock-address/change-me', "/mock-address/change-me", '/mock-address/change-me']),
		new MenuItem('Вакансии', '/mock-address/change-me'),
		new MenuItem('Новости', '/mock-address/change-me'),
		new MenuItem('Соглашения', '/mock-address/change-me', ['Соглашение 1', 'Соглашение 2', 'Соглашение 3'], ['/mock-address/change-me', "/mock-address/change-me", '/mock-address/change-me']),
	];
	let menuEng = [
		new MenuItem('Home', '/mock-address/change-me'),
		new MenuItem('About Us', '/mock-address/change-me'),
		new MenuItem('Services', '/mock-address/change-me', ['Service 1', 'Service 2', 'Service 3'], ['/mock-address/change-me', "/mock-address/change-me", '/mock-address/change-me']),
		new MenuItem('Careers', '/mock-address/change-me'),
		new MenuItem('News', '/mock-address/change-me'),
		new MenuItem('Documentation', '/mock-address/change-me')
	];
mixin header(isEng, isLogged)
	if isEng
		if isLogged
			+headerMarkup('', menuEng, 'Login', '/mock-address/change-me', 'Register', '/mock-address/change-me', 1)
		else
			+headerMarkup('', menuEng, 'Login', '/mock-address/change-me', 'Register', '/mock-address/change-me')
	else
		+headerMarkup('', menuRus, 'войти', 'sign-in.html', 'зарегистрироваться', 'registration.html')