mixin header(cl, menu, activePageNumber, btn1, href1, btn2, href2, login)
	.page__container
		nav.header
			.header__active-page-number= activePageNumber
			a(href="index.html")
				span.page__logo.header__logo
			a.header__burger
				.header__burger-line
			.header__nav-list-wrap
				ul.header__nav-list
					each val, i in menu
						if menu[i].incl
							li.header__nav-item.header__nav-item_with-submenu
								a(href=menu[i].href class="header__a header__a_with-submenu") !{menu[i].item}
								ul.header__nav-list.header__nav-list-submenu
									.header__nav-list-submenu-inner
										each val, j in menu[i].incl
											li.header__nav-item.header__nav-item_submenu
												a(href=menu[i].hrefs[j] class="header__a") !{menu[i].incl[j]}
						else
							li.header__nav-item
								a(href=menu[i].href class="header__a") !{menu[i].item}
								ul.header__nav-list
			if login
				.header__btn-container-logged
					.header__user Cosmin Negoita
			else
				.header__btn-container
					.header__btn-wrap
						.header__btn
							a(href=href1 class="btn btn_white btn_header-white") 
								span.header__btn-inner !{btn1}
					.header__btn-wrap
						.header__btn
							a(href=href2 class="btn btn_small") !{btn2}

