include ../../components/input/input.pug
include ../../components/logo/logo.pug

-
	const navRus = [
		new MenuItem('навигация', '/mock-address/change-me', ['О нас', 'Новости', 'Служба поддержки', 'Услуги'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me']),
		new MenuItem('о нас', '/mock-address/change-me', ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me']),
		new MenuItem('Служба поддержки', '/mock-address/change-me', ['Соглашения', 'Сообщества', 'Связь с нами'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me'])
	];
	const navEng = [
		new MenuItem('Navigation', '/mock-address/change-me', ['About Us', 'News', 'Support', 'Products'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me']),
		new MenuItem('About Us', '/mock-address/change-me', ['Who we are', 'Our team', 'Careers', 'Investors'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me']),
		new MenuItem('Support', '/mock-address/change-me', ['Documentation', 'Community', 'Get in Touch'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me'])
	];
	const inputEng = {
		h3: '',
		type: 'email',
		name: 'email',
		cl: ' input__field_with-arrow',
		val: '',
		plac: 'Your email address',
		p: '',
		icon: 'arrow_forward',
		color: 'purple'
	}
	const inputRus = {
		h3: '',
		type: 'email',
		name: 'email',
		cl: ' input__field_with-arrow',
		val: '',
		plac: 'Email',
		p: '',
		icon: 'arrow_forward',
		color: 'purple'
	}
	const markupFooterEng = {
		cl: '',
		text: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
		menu: navEng,
		h3: 'Subscribe to our newsletter',
		p: 'Receive our latest news and promotions in your inbox!',
		copyright: 'Copyright © 2018 Toxin UI Kit. All rights reserved.',
		ui: 1
	}
	const markupFooterRus = {
		cl: '',
		text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
		menu: navRus,
		h3: 'Подписка',
		p: 'Получайте специальные предложения и новости сервиса',
		copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.'
	}

mixin footerMarkup(data)
	-
		const {cl, text, menu, h3, p, copyright, ui} = data;
	footer(class = "footer " + cl)
		section.footer__navigation-section
			.footer__container
				.footer__text-column
					.footer__logo
						+logo
					p.footer__text= text
				nav.footer__navigation
					each val, i in menu
						section.footer__navigation-column
							h2.footer__title !{menu[i].item}
							ul.footer__list
								each val, j in menu[i].incl
									li.footer__list-item
										a(href=menu[i].hrefs[j] class="footer__link") !{menu[i].incl[j]}
				.footer__subscription-block
					h2.footer__title= h3
					p.footer__text= p 
					form.footer__form
						if ui
							+inputO(inputEng)
						else
							+inputO(inputRus)
		section.footer__social-section
			.footer__container
				p.footer__copyright= copyright
				ul.footer__social-list
					li.footer__social-item
						a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social-link footer__social-link_theme_twitter") Twitter
					li.footer__social-item
						a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social-link footer__social-link_theme_facebook") Facebook
					li.footer__social-item
						a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social-link footer__social-link_theme_instagram") Instagram

mixin footer(isEng)
	if isEng
		+footerMarkup(markupFooterEng)
	else
		+footerMarkup(markupFooterRus)