include ../../components/input/input.pug
mixin footer(cl, text, menu, h3, p, copyright, ui)
	.footer
		section.footer__block-1
			.footer__container
				.footer__col.footer__col_1
					.page__logo.footer__logo
					p.footer__p= text
				nav.footer__nav
					each val, i in menu
						div(class ="footer__col footer__col_" + (i + 2))
							h3.footer__h3 !{menu[i].item}
								// a(href=menu[i].href class="footer__a") !{menu[i].item}
							ul.footer__ul.footer__ul_menu.footer__ul-incl
								each val, j in menu[i].incl
									li.footer__li.footer__li_incl
										a(href=menu[i].hrefs[j] class="footer__a") !{menu[i].incl[j]}
				.footer__col.footer__col_25
					// a(href="/mock-address/change-me" class="footer__a")
					h3.footer__h3.footer__h3_col-5= h3
					p.footer__p= p 
					form.footer__form
						if ui
							- let email = 'Your email address';
							+input(
								'', 
								'email', 
								'footer__input', 
								'input__input_arrow footer__input', 
								'', 
								email, 
								'', 
								'arrow_forward', 
								'purple')
						else
							- let email = 'Email'
							+input(
								'', 
								'email', 
								'footer__input', 
								'input__input_arrow footer__input', 
								'', 
								email, 
								'', 
								'arrow_forward', 
								'purple')
		section.footer__block-2
			.footer__container.footer__container_bottom
				.footer__col.footer__col_26
					p.footer__copyright= copyright
				.footer__col.footer__col_27
					ul.footer__social-ul
						li.footer__social-li
							a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social footer__social_twitter") Twitter
						li.footer__social-li
							a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social footer__social_facebook") Facebook
						li.footer__social-li
							a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social footer__social_instagram") Instagram
