include ../../components/input/input.pug
include ../../components/logo/logo.pug

mixin footerMarkup(cl, text, menu, h3, p, copyright, ui)
	footer(class = "footer " + cl)
		section.footer__navigation-section
			.footer__container
				.footer__text-column
					.footer__logo
						+logo
					p.footer__text= text
				nav.footer__navigation
					each val, i in menu
						section.footer__navigation-column
							h2.footer__title !{menu[i].item}
							ul.footer__list
								each val, j in menu[i].incl
									li.footer__list-item
										a(href=menu[i].hrefs[j] class="footer__link") !{menu[i].incl[j]}
				.footer__subscription-block
					h2.footer__title= h3
					p.footer__text= p 
					form.footer__form
						if ui
							- let email = 'Your email address';
							+input(
								'', 
								'email', 
								'email', 
								' input__field_with-arrow', 
								'', 
								email, 
								'', 
								'arrow_forward', 
								'purple')
						else
							- let email = 'Email'
							+input(
								'', 
								'email', 
								'email', 
								' input__field_with-arrow', 
								'', 
								email, 
								'', 
								'arrow_forward', 
								'purple')
		section.footer__social-section
			.footer__container
				p.footer__copyright= copyright
				ul.footer__social-list
					li.footer__social-item
						a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social-link footer__social-link_theme_twitter") Twitter
					li.footer__social-item
						a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social-link footer__social-link_theme_facebook") Facebook
					li.footer__social-item
						a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social-link footer__social-link_theme_instagram") Instagram

mixin footer(isEng)
	-
		let navRus = [
			new MenuItem('навигация', '/mock-address/change-me', ['О нас', 'Новости', 'Служба поддержки', 'Услуги'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me']),
			new MenuItem('о нас', '/mock-address/change-me', ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me']),
			new MenuItem('Служба поддержки', '/mock-address/change-me', ['Соглашения', 'Сообщества', 'Связь с нами'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me'])
		];
		let navEng = [
			new MenuItem('Navigation', '/mock-address/change-me', ['About Us', 'News', 'Support', 'Products'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me']),
			new MenuItem('About Us', '/mock-address/change-me', ['Who we are', 'Our team', 'Careers', 'Investors'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me']),
			new MenuItem('Support', '/mock-address/change-me', ['Documentation', 'Community', 'Get in Touch'], ['/mock-address/change-me', '/mock-address/change-me', '/mock-address/change-me'])
		];
	if isEng
		+footerMarkup(
			'', 
			'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
			navEng, 
			'Subscribe to our newsletter',
			'Receive our latest news and promotions in your inbox!',
			'Copyright © 2018 Toxin UI Kit. All rights reserved.', 
			1)
	else
		+footerMarkup(
			'', 
			'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
			navRus, 
			'Подписка',
			'Получайте специальные предложения и новости сервиса',
			'Copyright © 2018 Toxin отель. Все права зачищены.')