include ../../components/input/input.pug
include ../../components/logo/logo.pug
include ../../components/title/title.pug

-
	const footerData = require('../../commonData/footer.json');

mixin footerMarkup(data)
	-
		const {text, menu, title, text2, copyright, ui} = data;
	footer(class = "footer")
		section.footer__navigation-section
			.footer__container
				.footer__text-column
					.footer__logo
						+logo
					p.footer__text= text
				nav.footer__navigation
					each val, i in menu
						section.footer__navigation-column
							h2.footer__title
								+title(menu[i].item)
							ul.footer__list
								each val, j in menu[i].incl
									li.footer__list-item
										a(href=menu[i].hrefs[j] class="footer__link") !{menu[i].incl[j]}
				.footer__subscription-block
					h2.footer__title
						+title(title)
					p.footer__text= text2 
					form.footer__form
						if ui
							+input(footerData.inputEng)
						else
							+input(footerData.inputRus)
		section.footer__social-section
			.footer__container
				p.footer__copyright= copyright
				ul.footer__social-list
					li.footer__social-item
						a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social-link footer__social-link_theme_twitter") Twitter
					li.footer__social-item
						a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social-link footer__social-link_theme_facebook") Facebook
					li.footer__social-item
						a(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer" class="footer__social-link footer__social-link_theme_instagram") Instagram
mixin footer(isEnglish)
	if isEnglish
		+footerMarkup(footerData.markupFooterEng)
	else
		+footerMarkup(footerData.markupFooterRus)